<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Заметки</title>

</head>
<body>
    <section class="field">
        <div class="field__note">
            <a th:each="n: ${notes}"href="">
            <div class="note note__notstart">
                <div class="anotation"> <span th:text="${n.annotation}"></span></div>
                <div class="date"><span th:text="${n.time}"></span></div>

            </div>
            </a>
            <!--<a href="">
            <div class="note note__begin">
                <div class="anotation">Сходить в магазин</div>
                <div class="date">12.05.2024</div>
            </div>
            </a>
            <a href="">
            <div class="note note__end">
                <div class="anotation">Lorem ipsum dolor sit amet </div>
                <div class="date">12.05.2024</div>
            </div>
            </a>-->

            
        </div>
        <div class="field__new">
            <a href="/createnote">
                <div class="new__note">
                    <h3>Создать новую<br>заметку</h3>
                </div>
            </a>
            
        </div>
    </section>
</body>
</html>