<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{style.css}" rel="stylesheet" />
    <title>Рики и Морти</title>
  </head>
  <body>
    <div class="full__frame">
      <div class="baner">
        <h1>Добро пожаловать к Рики и Морти</h1>
        <div class="persons">
          <a
            href="#"
            th:each="c: ${characters.results}"
            th:href="@{'/character/' + ${c.Id}}"
          >
            <div class="person" th:style="'background-image:url(' + @{${c.image}} + ');'">
              <h3 th:text="${c.name}"></h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>

