<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>ДЗ №4 задача 3</title>
</head>
<body>
    <header>
        <h3>Добавить сотрудника</h3>
    </header>
    <container class="work__fields">
        <section class="menu">
            <ul><a href="add.html"><button>Добавить сотрудника</button></a></ul>
            <ul><a href="all.html"><button>Посмотреть всех сотрудников</button></a></ul>
            <ul><a href="salary.html"><button>Расчет зарплаты сотрудника</button></a></ul>
            <ul><a href="del.html"><button>Удаление сотрудника</button></a></ul>
        </section>
        <section class="work__field">
            <form action="/addworker" method="post"></form>
            <label for="name">Введите фамилию сотрудника</label>
            <input type="text" name="name"><br />
            <label for="secondname">Введите фамилию сотрудника</label>
            <input type="text" name="secondname"><br />
            <label for="phone">Введите телефон</label>
            <input type="phone" name="phone"><br />
            <label for="phone">Введите ставку в день .р</label>
            <input type="number" step="any" name="salary"><br />
            <button type="submit">Принять сотрудника на работу</button>

        </section>
    </container>     
</body>
</html>